<div class="card" id="card">
    <div class="card-body">
        <h5 class="card-title">VSHOJO</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">prodcution</h6>
        <p class="card-text">¡Conoce a nuestras estrellas, las mejores del mundo! En vshojo, nos enorgullecemos de
            presentar a un grupo excepcional de talentos virtuales. Desde emocionantes juegos hasta entretenimiento
            deslumbrante, nuestras estrellas destacan en cada espectáculo. Únete a nosotros mientras brillamos juntos en
            el universo digital.</p>
        <div class="card-footer d-flex justify-content-center">
            <a [routerLink]="['/vtubers']" class="btn btn-outline-primary">Saber mas</a>
        </div>
    </div>
</div>