<div class="bg-opacity-75 bg-black text-bg-dark" style="height: 100svh;">
  <div class="pb-1 mb-2 text-center w-100 bg-dark text-bg-dark">
    <h1 class="display-5">Practica Servicios</h1>
    <h5>Abraham Melgoza de la Torre</h5>
  </div>
  <div class="container">
    <div class="row ms-t">
      <div class="col-6">
        <h1 class="text-center">Mostrar</h1>
        <app-mostrar (search)="tosearch($event)"></app-mostrar>
      </div>
      <div class="col-6">
        <h1 class="text-center">Buscar</h1>
        <app-buscar [tosearch]="search"></app-buscar>
      </div>
    </div>
  </div>
</div>
<router-outlet />