<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="text-justify">
                Hololive Production (ホロライブプロダクション hororaibu purodakushon, estilizado en minúsculas), o simplemente
                conocido como hololive (ホロライブ), es una agencia de talentos virtuales que consiste en YouTubers virtuales
                propiedad de la empresa de entretenimiento tecnológico japonesa COVER Corporation.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/img/hololiveProduction.webp" alt="Descripción de la imagen" class="img-fluid"
                style="object-fit: cover;">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <p class="text-justify">
                El nombre hololive fue inicialmente utilizado para la aplicación de distribución de transmisiones en 3D
                de COVER, lanzada en diciembre de 2017, y más tarde para su agencia de VTubers femeninas, cuya primera
                generación debutó de mayo a junio de 2018. En diciembre de 2019, esta sucursal de hololive se fusionó
                con la agencia masculina HOLOSTARS de COVER y el sello discográfico INoNaKa (INNK) para formar una marca
                unificada de "producción hololive". En 2019 y 2020, la agencia lanzó tres sucursales en el extranjero:
                hololive China (que desde entonces se disolvió), hololive Indonesia y hololive English. En 2023,
                hololive debutó una nueva sucursal, hololive DEV_IS.

                A partir de abril de 2024, hay 86 talentos afiliados a hololive activos con más de 84 millones de
                suscriptores en YouTube. Gawr Gura, un talento de su sucursal en inglés, es la VTuber con más
                suscriptores en todo el mundo con más de 4 millones de suscriptores.
            </p>
        </div>
    </div>
</div>