<div class="container ms-3">
    <div class="row row-cols-1 row-cols-md-2 ">
        @for(data of arreglo; track data){
        <div class="col mb-3">
            <div class="card border-dark text-bg-light mb-3 w-100 h-100">
                <div class="row g-0 row-cols-1 row-cols-lg-2">
                    <div class="col-12 col-lg-4 align-content-center">
                        <img [src]="data.img" class="img-fluid rounded-start ms-lg-2" [alt]="data.nombre">
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="card-body">
                            <h5 class="card-title">{{data.nombre}}</h5>
                            <p class="card-text">{{data.perfil}}</p>
                            <p class="card-text">Generación: {{data.generacion}}</p>
                            <p class="card-text"><small class="text-muted">Debutó: {{data.debut}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>