#card {
    max-width: 30rem;
    width: 100%;

    >* {
        font-size: 1.5rem;
    }
}

/* Dark UI */
.card {
    background-color: #21211c;
    color: #fff;
    border: none;
    /* agregarle una sombra neon */
    box-shadow: 0 0 15px 2px #381f6b;
    transition: all 0.7s ease;

    &:hover {
        /* agregarle una sombra más intensa */
        box-shadow: 0 0 15px 5px #3e1c82;
    }
}

.card-body {
    &>h5 {
        color: #fff;
        /* agregarle una sombra neon al texto */
        text-shadow: 0 0 12px #ffc676ec;
    }
}