<div class="container-fluid ms-3">
    <div class="container">
        <h1 class="text-center">{{title}}</h1>
        <h4 class="text-center">Abraham Melgoza de la Torre</h4>
        @for (voto of votos; track voto){
        <div class="align-items-center w-100">
            <app-hijo [voto]="voto.title" [id]="voto.id" [boton]="voto.boton" [deshabilitado]="finalizado"
                (unVoto)="addVoto($event)"></app-hijo>
        </div>
        }
        <h3 class="text-center" [innerHTML]="votacion"></h3>

        @if(!finalizado){
        <div class="text-center my-3">
            <button (click)="finalizar()" class="btn btn-secondary">Finalizar</button>
        </div>
        }
        @if(finalizado){
        <div class="text-center d-flex flex-column align-items-center">
            <div class="text-center d-flex flex-column w-25">
                <p class="badge rounded-pill text-bg-danger">Rojo: {{c1}}</p>
                <p class="badge rounded-pill text-bg-primary">Azul: {{c2}}</p>
                <p class="badge rounded-pill text-bg-success">Verde: {{c3}}</p>
                <p class="badge rounded-pill text-bg-warning">Amarillo: {{c4}}</p>
            </div>
            <span class="badge rounded-pill text-bg-info">Total de votos: {{totalVotos}}</span>
            <div [innerHTML]="ganador"></div>
        </div>
        }
    </div>
</div>