<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/holoiveLogo.webp" alt="logo" width="30" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="homeActive" [routerLink]="['/home']"
                        (click)="switchActive(0)">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="vtubersActive" [routerLink]="['/vtubers']"
                        (click)="switchActive(1)">Vtubers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="aboutActive" [routerLink]="['/about']"
                        (click)="switchActive(2)">About</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</nav>