:root {
  /* Variable del ancho del slider */
  --slider-width: 90%;
  /* Alto del slider */
  --slider-height: 60vh;
  /* Border radius utilizado en los elementos */
  --slider-border-radius: 5%;
}

.slider {
  width: var(--slider-width);
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slides {
  width: 100%;
  /* Ocupa todo el ancho del elemento padre */
  height: var(--slider-height);
  position: relative;
}

.slide-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--slider-border-radius);
  overflow: hidden;
  opacity: 0;
  user-select: none;
  background: rgba(228, 228, 228, 0.333);

  &>img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    border-radius: var(--slider-border-radius);
  }
}

.slide-item.active {
  opacity: 1;
  z-index: 3;
}

.slide-item.inactive {
  z-index: 2;
}

.menu-slides {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(213, 209, 209);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    user-select: none;

    &.active {
      background: rgb(0, 0, 0);
      color: white;
    }
  }
}

.slide-next,
.slide-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  /* que no se pueda editar con texto */
  user-select: none;
  width: 3vw;
  height: 3vw;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;

  &.slide-next {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    right: 0;
  }

  &.slide-prev {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    left: 0;
  }

  &:hover {
    filter: brightness(1.4);
    opacity: 0.9;
  }

  &:active {
    filter: brightness(1.3);
    opacity: 0.9;
    transform: translateY(-50%) scale(0.9);
  }
}

.visually-hidden {
  display: none;
}

/* Animación de entrada izquierda */
@keyframes slide-lc {
  0% {
    opacity: 1;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de entrada derecha */
@keyframes slide-rc {
  0% {
    opacity: 1;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animación de salida a la derecha */
@keyframes slide-cr {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

/* Animación de salida a la izquierda */
@keyframes slide-cl {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}